th	{
	font-size:40px;
	font-weight:bold;
	color:red;
}
td{
	font-size:20px;
	color:blue;
	font-weight:bold;
	font-family:標楷體;
}
.a{
	font-size:20px;
	color:blue;
	font-weight:bold;
	font-family:標楷體;
}